﻿:root {
    --button_back: #259;
    --button_color: #f1f1f1;
    --button_shadow: #ccc;
    --button_hover: #49a5ff;
    --button_back_right: green;
    --border_color: #259;
    --text_back: #f1f1f1;
    --rest_color: #ce5252;
    --text_color: #259;
    --button_back_disabled: #7accf1;
}

*[unselectable=on] {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.ATM_wrap {
    -moz-border-radius: 1rem; /* закругление для старых Mozilla Firefox */
    -webkit-border-radius: 1rem; /* закругление для старых Chrome и Safari */
    background-color: var(--text_back);
    border: 3px solid var(--border_color);
    border-radius: 1rem; /* закругление углов для всех, кто понимает */
    margin: 2rem;
    min-height: 39rem;
    padding: 1.75rem;
    position: relative;
    width: 760px;
}

.left .btn1-group .btn1 {
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    background-color: var(--button_back);
    border-radius: 1rem;
    box-shadow: 10px 5px 5px var(--button_shadow);
    color: var(--button_color);
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: bold;
    height: 6rem;
    margin: 1rem;
    width: 6rem;
}

.left .btn1-group .btn1:disabled, .right .btn1-group .btn1:disabled { cursor: none; }

.right .btn1-group .btn1:disabled { background-color: var(--button_back_disabled); }

.left .btn1:disabled { display: none }

#account, #pincode, #withdraw {
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    background-color: var(--text_back);
    border: 3px solid var(--button_back);
    border-radius: 1rem;
    box-shadow: 10px 5px 5px var(--button_shadow);
    color: var(--text_color);
    cursor: none;
    font-size: 3.5rem;
    font-weight: bold;
    height: 4.5rem;
    margin: .75rem 0 1.5rem 1rem;
    margin-left: 1rem;
    text-align: center;
    width: 95%;
}

.numpad .left, .numpad .right { float: left; }

.numpad .right {
    margin-left: 1rem;
    padding: 8rem 0;
    width: 45%;
}

#Page2.numpad .right { padding: 4rem 0; }

#Page5.numpad .right { padding: 4rem 0; }

.right .btn1-group .btn1, .button_back, #Page3 button, #Page4 button, #Page9 .btn2 {
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    background-color: var(--button_back_right);
    border-radius: 1rem;
    box-shadow: 10px 5px 5px var(--button_shadow);
    color: var(--button_color);
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: bold;
    height: 6rem;
    margin: 1rem;
    width: 20rem;
}

h2, h3, h4, .current_dat {
    color: var(--text_color);
    cursor: none;
    font-size: 3.5rem;
    text-align: center;
}

.current_dat {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

h2 { margin-top: 0; }

h4 {
    margin: 1rem;
    margin-bottom: 2rem;
}

.button_back { margin: 4rem 0 0 13.5rem; }


#Page3 button {
    margin: 2rem 0 2rem 1.5rem;
    width: 93%;
}

#Page3 button:nth-child(1) { margin-top: 6.5rem; }

#Page4 button { margin-left: 2rem; }

.sum { color: var(--button_back_right); }

.rest { color: var(--rest_color); }


/*  Loader  */

.loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 16px solid var(--button_color);
    border-bottom: 16px solid var(--button_back_right);
    border-left: 16px solid var(--button_hover);
    border-radius: 50%;
    border-right: 16px solid var(--rest_color);
    border-top: 16px solid var(--button_back);
    display: none;
    height: 8rem;
    left: 22rem;
    position: absolute;
    top: 2.25rem;
    width: 8rem;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0); }

    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0); }

    100% { transform: rotate(360deg); }
}


/* Tables editing */

.tabedit {
    color: var(--button_back);
    cursor: none;
    font-size: 2rem;
    font-weight: bold;
}

.tabedit th, .tabedit td {
    margin: 1rem;
    padding: .5rem 1rem;
}

.tabedit th { vertical-align: middle; }

.tabedit td {
    padding-right: 1rem;
    text-align: left;
    white-space: nowrap;
}

.tabedit td:nth-child(2) { width: 25%; }

.vals {
    background-color: var(--text_back);
    color: var(--button_back_right);
    font-size: 1.75rem;
    font-weight: inherit;
    height: 2.5rem;
    width: 97%;
}

.btn2-group {
    bottom: 1.5rem;
    position: absolute;
    width: 100%;
}

#Page9 .btn2 {
    color: var(--text_back);
    font-size: 2rem;
    height: 5rem;
    width: 26.5%;
}