﻿@{
    ViewBag.Title = "ATM3 - ASP.NET MVC Application";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/atm_main.js")

</head>
<body>
@Html.AntiForgeryToken()
<div class="ATM_wrap">
    @RenderBody()
</div>
<div class="loader"></div>

@RenderSection("scripts", false)

</body>
</html>